@font-face {
    font-family: 'blankblizzkriegiitalic';
    src: url('../fonts/blankblizzkriegi.woff2') format('woff2'),
      url('../fonts/blankblizzkriegi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  