:root {
    --clr-background: #864cbf;
    --clr-background-dark: #46178f;
    --clr-response-red: #e21c3c;
    --clr-response-blue: #3068ce;
    --clr-response-yellow: #d89e00;
    --clr-response-green: #26890c;
}