.game {
    display: flex;
    max-height: calc(100vh - 400px);
    gap: 20px;
  }
  
  .img, .responses {
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
  }
    
  .character-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .responses {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media screen and (max-width: 1024px) {
    body {
      background-color: var(--clr-response-blue);
      width: 90vw;
    }
  
    header, .game {
      flex-direction: column;
    }
  
    .img {
      max-height: 400px;
    }
  }