{% extends 'layout.html.twig' %}

{% block content %}
    <h1 class="main-title">
        <p>Breaking</p>
        <p>Kahoot !</p>
    </h1>

    <h2 class="message">{{ msg }}</h2>

    <a class="btn" href="/">Rejouer</a>
{% endblock %}